@import '~antd/dist/antd.css';
$bgNavbar:#1890ff;
$bgDroppable: #f4f5f7;
$bgItemSelected:#ebecf0;

.sidebar {
    flex: 0 0 250px;
    min-width: 250px;
    background-color: $bgDroppable;
    &-container {
        padding: 24px 16px;
    }

    &-top {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        img {
            width: 45px;
        }

        &-text {
            padding-left: 12px;
           
            h5.ant-typography {
                margin-bottom: 0;
            }
        }
        
    }
    &-menu {
        & .ant-menu {
            background-color: transparent;
        }

        & .ant-menu-item {
            display: flex;
            align-items: center;
        }

        & .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
            background-color: $bgItemSelected ;
        }

        & .ant-menu-item .ant-menu-item-icon {
            font-size: 20px;
        }
    }
}


.navbar-left {
    flex: 0 0 64px;
    width: 64px;
    background-color: $bgNavbar;
    
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 24px 0;  
    }

    &-logo {
        width: 2rem;
        height: 2rem;
        color:#deebff;
    }

    &-item {
        align-items: center;
    }
}

.form-issue {
    .ant-form-item-label>label {
        color: #5e6c84;
        font-weight: 600;
    }
    .ant-select-multiple .ant-select-selection-item{
        padding: 16px 8px;
        align-items: center;
    }
    .ant-select-selection-item {
        display: flex;
        align-items: center;
    }
}
.login-form {
    width: 350px;
    padding: 64px 32px;
    margin:12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    .ant-form-item-label>label {
        color: #5e6c84;
        font-weight: 600;
    }
    &-logo {
        width: 4rem;
        height: 4rem;
        color:#40a9ff;
    }
}